zaprosUD RT_RCDATA SQL/ZaprosUD.sql
zaprosGD RT_RCDATA ZaprosGD.sql
zaprosGDIsk RT_RCDATA ZaprosGDIsk.sql
zaprosKAS RT_RCDATA ZaprosKAS.sql
zaprosAD RT_RCDATA ZaprosAD.sql
zaprosIU RT_RCDATA ZaprosIU.sql
zaprosIG RT_RCDATA ZaprosIG.sql
zaprosAD_SH RT_RCDATA ZaprosADShtraf.sql
zaprosAD_OR RT_RCDATA ZaprosADObyazRabot.sql
zaprosAD_LP RT_RCDATA ZaprosADLishPrav.sql
