zaprosUD RT_RCDATA    SQL/ZaprosUD.sql
zaprosGD RT_RCDATA    SQL/ZaprosGD.sql
zaprosGDIsk RT_RCDATA SQL/ZaprosGDIsk.sql
zaprosKAS RT_RCDATA   SQL/ZaprosKAS.sql
zaprosAD RT_RCDATA    SQL/ZaprosAD.sql
zaprosIU RT_RCDATA    SQL/ZaprosIU.sql
zaprosIG RT_RCDATA    SQL/ZaprosIG.sql
zaprosAD_SH RT_RCDATA SQL/ZaprosADShtraf.sql
zaprosAD_OR RT_RCDATA SQL/ZaprosADObyazRabot.sql
zaprosAD_LP RT_RCDATA SQL/ZaprosADLishPrav.sql
